.landing-page-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
    width: 100%;
}

.landing-page-div {
    font-size: 3vmin;
    padding: 20px;
    border-radius: 30px 35px 35px 30px;
    text-align: center;
}

.landing-page-hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.landing-page-div-text {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.landing-page-div-arrow-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    width: 100%;
}

.landing-page-div-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--white);
    font-family: var(--header-font);
    color: var(--dark-pink);
}

.landing-page-div-2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--dark-pink);
    font-family: var(--body-font);
    color: var(--white);
}

.landing-page-div-3 {
    grid-area: 1 / 3 / 2 / 5;
    background-color: var(--dark-pink);
    font-family: var(--body-font);
    color: var(--white);
}

.landing-page-div-4 {
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--light-blue);
    font-family: var(--body-font);
    color: var(--white);
}

.landing-page-div-5 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--light-blue);
    font-family: var(--body-font);
    color: var(--white);
}

.landing-page-div-6 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--dark-pink);
    font-family: var(--body-font);
    color: var(--white);
    text-align: center;
}

.landing-page-div-7 {
    grid-area: 2 / 3 / 4 / 4;
    background-color: var(--light-blue);
    font-family: var(--body-font);
    color: var(--white);
}

.landing-page-div-8 {
    grid-area: 2 / 4 / 4 / 5;
    background-color: var(--light-pink);
    font-family: var(--body-font);
    color: var(--white);
}

.landing-page-div-text-long {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-img-long {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-div-arrow-container-long {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}